html[data-sap-ui-animation='on'] .sapMNavItem,
html[data-sap-ui-animation='on'] .sapMNavItem.sapMPage {
    background-color: #fff;
}

#__button0-inner {
    border: none;
    background-color: transparent;
}

.sapMSFF {
    border-radius: 10px;
    height: 1.7rem;
    margin-top: 6px;
}

.sapMIBar {
    margin: 10px auto 0 auto !important;
    background-color: #ffffff !important;
}


/*.sapMBarChild.sapMBtnBase{*/


/*	float:right !important;*/


/*}*/

.sapMSFB {
    line-height: 1.5rem;
}

.sapMFlexBoxBGTransparent {
    background-color: #fff;
}

.sapMTB-Transparent-CTX.sapMTB {
    padding: 5px 0 5px 0 !important;
    background-color: #ffffff;
}

.sapMBtn:hover>.sapMBtnHoverable {
    background-color: transparent !important;
    border-color: transparent;
    cursor: default;
}

.sapMTBNewFlex {
    justify-content: flex-end !important;
}

.sapMTBNewFlex span bdi {
    cursor: pointer;
}

Button.go span bdi {
    background-color: #0070f2;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sapMLIBFocusable:focus {
    outline: 1px solid #0070f2 !important;
}

.sapMBtn {
    border: none !important;
}

Button.go span bdi:hover {
    background-color: #0064d9;
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
    outline: transparent;
}

.sapMScrollContScroll {
    padding: 15px 30px;
    background-color: #ffffff !important;
}

.sapMTableTH {
    background-color: #fff !important;
}


/*View2*/

.sapUxAPObjectPageHeaderIdentifier.sapUxAPObjectPageHeaderIdentifierForce{
	background-color:#fff;
}
.sapUxAPObjectPageHeaderContentDesign-Light{
	background-color:#fff !important;
	box-shadow: 0 0 .25rem 0 rgba(34, 53, 72, 0.15), inset 0 -0.0625rem 0 0 #d9d9d9;
	margin-bottom:40px;
}
.sapMLabel {
    color: #000 !important;
}

.sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState) {
    border-radius: 10px;
    height: 1.7rem;
}

.sapMInputBase:not(.sapMInputBaseHasEndIcons):not(.sapMInputBaseHasBeginIcons) .sapMInputBaseContentWrapper {
    height: 1.7rem;
}

.sapMInputBase {
    height: 1.7rem;
}

.sapMInputBaseIconContainer .sapUiIcon.sapMInputBaseIcon {
    line-height: 1.7rem;
}

.sapMBtnInner {
    background-color: transparent;
    border: none;
}

.editIcon .sapMBtnIcon {
    font-size: 1.3rem;
    color: #0070f2;
    cursor: pointer;
}

.sapMHrdrCntrInner {
    width: 99%;
}

.update.sapMInputBase {
    height: 1.7rem;
    margin: 5px;
}

.update .sapMInputBaseContentWrapper {
    border-radius: 10px;
    border: solid 1px #0070f2;
}

.anchor.sapMBtn:hover>.sapMBtnHoverable {
    cursor: pointer;
}

.editIcon .sapMBtnIcon:focus>.sapMBtnActive.sapMFocusable {
    color: #0070f2;
}

html.sap-desktop .sapMBtn:focus>.sapMBtnActive.sapMFocusable {
    color: #0070f2;
}

.sapUxAPAnchorBar{
	margin:0 !important;
}
.sapUxAPAnchorBar.sapMTB {
    background-color: #fff !important;
}

.table {
    margin: 30px auto;
    border-radius: 20px;
}

.sapUxAPObjectPageSection .sapUxAPObjectPageSectionContainer>.sapUiRespGrid {
    background-color: #fff;
    width: 95% !important;
    margin: 15px auto !important;
    border-radius: 20px;
}

.sapUxAPObjectPageSectionHeader {
    border: none !important;
}

.sapUxAPObjectPageSectionTitle {
    color: #000 !important;
}

.sapUxAPObjectPageSection:focus {
    outline: 1px solid #0070f2 !important;
    outline-offset: -1px;
}

.sapUxAPObjectPageSubSection:focus {
    outline: 1px solid #0070f2 !important;
    outline-offset: -1px;
}

.sapMFocus.sapMInputBase .sapMInputBaseContentWrapper:not(.sapMInputBaseDisabledWrapper)::before {
    border: none;
}

.sapMFlexItem {
    margin-left: 10px;
}

.marginLeft {
    margin: 0 0 0 25px;
}

#__box57 #__data276,
#__box72 #__data281.sapMFlexItemAlignAuto {
    min-width: 100% !important;
}

.sapUiFormCLSmallColumns .sapUiFormCLElement>.sapUiFormCLCellsS12 {
    width: auto !important;
}

View3 .sapMFlexBoxAlignItemsStretch {
    align-items: center;
}

Button.save span bdi {
    background-color: #0070f2 !important;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.save {
    float: right;
    margin-right: 35px;
}